<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDO</title>
</head>
<body>
    <form method="POST" action="">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="desc">Desc:</label><br>
        <input type="desc" id="desc" name="desc">
        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date">
        <input type="submit" value="Submit">
    </form>
      
</body>
</html>